In [1]:
from h2_gym.data.shipping import NGDemand

In [2]:
data = NGDemand('jodi-gas_wdb_16147546018076.csv')

In [ ]:
data._data.rename(columns={data._data.columns[0]: "Country"}, inplace=True)

In [10]:
data._data

,Country,Country,Jan2009,Feb2009,Mar2009,Apr2009,May2009,Jun2009,Jul2009,Aug2009,...,Jun2024,Jul2024,Aug2024,Sep2024,Oct2024,Nov2024,Dec2024,Jan2025,Feb2025,Mar2025
0,NaN,Unit,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,...,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules,Terajoules
1,Country,BALANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,Receipts from Other Sources,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Argentina,Imports,4633,6116,5649,5695,5188,5380,6337,5952,...,-,-,-,-,-,-,-,-,-,-
4,Argentina,LNG,4818,6361,5875,5924,5396,5596,6591,6191,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,United States,Receipts from Other Sources,-,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,-
73,United States,Imports,-,-,-,-,-,-,-,-,...,275411,302960,291138,275223,283452,301817,345325,373979,339602,-
74,United States,LNG,-,-,-,-,-,-,-,-,...,39,39,79,2413,79,39,2480,2008,0,-
75,United States,Pipeline,-,-,-,-,-,-,-,-,...,275372,302921,291059,272810,283373,301778,342845,371971,339602,-
76,United States,LNG,-,-,-,-,-,-,-,-,...,397040,359190,404945,404546,418904,418868,457769,462405,489988,-